.card {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  .card-title{
    display: flex;
    gap: 6px;
  }
  .status-icon{
    align-self: center;
  }
 
  .ticket-id {
    color: #545557;
    font-size: 14px;
  }

  .card-footer{
    display: flex;
    gap: 10px;
  }
  
  .user-avatar {
    position: relative;
  }
  
  .user-avatar img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
  