
.card {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  
  .card-title {
    display: flex;
    gap: 6px;
    margin-bottom: 12px;
  }
  
  .status-icon {
    margin-top: 4px;
    font-size: 16px;
    line-height: 1;
    display: inline-block;
  }
  
  .ticket-id {
    color: #545557;
    font-size: 14px;
    padding: 2px 8px;
    border-radius: 4px;
  }
  
  .card-footer {
    display: flex;
    align-items: center;
    gap: 8px;  
  }
  
  .card-footer > div:first-child {
    border: 1px solid #e6e6e6;
    padding: 2px 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }
  
  .card-footer > div:last-child {
    border: 1px solid #e6e6e6;
    padding: 2px 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 4px;
  }
  
  .user-avatar {
    position: relative;
  }
  
  .user-avatar img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

  .ticket-title{
    margin: 0;
    align-items: flex-start;
    
  }
  .dot{
    color: #c7c8cb;
  }