.navbar {
    background-color: #ffffff;
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
  }
  
  .display-button {
    display: inline-flex;
    align-items: center;
    padding: 5px 12px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    gap: 8px;
    background-color: white;
  }
  
  .display-button:hover {
    background-color: #f4f5f8;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 20px;
    background-color: #dae2e3;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 12px;
    box-shadow: 0 2px 8px rgba(173, 63, 63, 0.1);
    z-index: 1000;
    min-width: 230px;
    
  }
  
  .dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
    color: #4a4848;
  }
  
  .dropdown-item select {
    padding: 4px 8px;
    border: 1px solid #f6efef;
    background-color: white;
    border-radius: 4px;
    margin-left: 12px;
    min-width: 120px;
    cursor: pointer;
    color: black;
  }